.hero {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title {
  text-align: center;
  width: max-content;
}

.subtitle {
  text-align: center;
  width: 100%;
}

.paragraph {
  text-align: center;
}

.link {
  z-index: 10;
}

.background {
  background-image: url("/backgrounds/heroBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 78%;
  position: absolute;
  width: 346px;
  height: 417px;
  z-index: -10;
}

@media (min-width: 768px) {
  .subtitle {
    width: 60%;
  }

  .paragraph {
    width: 70%;
  }
  .background {
    background-image: url("/backgrounds/heroBackground.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 82%;
    position: absolute;
    width: 480px;
    height: 478px;
    right: 35px;
    top: 36px;
  }
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 6rem;
  }

  .container {
    align-items: start;
    flex: 1.5;
    padding: 0;
    gap: 2.5rem;
  }

  .subtitle,
  .paragraph {
    text-align: left;
    width: 100%;
  }

  .background {
    flex: 2;
    position: static;
    background-image: url("/backgrounds/heroBackgroundSolid.png");
    background-repeat: no-repeat;
    background-position: 18px 52px;
    background-size: contain;
    
  }
}

@media (min-width: 1440px) {
  .subtitle,
  .paragraph {
    width: 80%;
  }

  .background {
    background-position: 64px 0px;
    height: 586px;
  }
}

@media (min-width: 1920px) {
  .subtitle {
    width: 70%;
  }
}
