.ourMenu {
}

.titles {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.category {
  width: 33.33%;
  text-align: center;
}

.active {
  color: var(--color-primary);
  transition: color 500ms ease;
}

.menuContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 4rem;
}


.card {
  display: flex;
  gap: 1rem;
}

.image {
  width: 100px;
  height: 110px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  .menu {
    flex-wrap: nowrap;
    margin-bottom: 4rem;
  }

  .menuContainer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 7rem;
  }
}

