.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accentText {
  color: var(--color-primary);
}

.normalText {
  color: var(--color-secondary);
}

.links {
  display: none;
}

.menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 14px 1rem;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms ease, transform 300ms ease;
  animation: fadeInDown 0.5s ease-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.closeMenu {
  align-self: flex-end;
  color: var(--color-primary);
  font-size: 2rem;
  margin-right: 1rem;
}

.menuItem {
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menuItem:hover {
  color: #fff;
  background-color: var(--color-primary);
}
.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.shoppingCart {
  order: 1;
}

.hamburguer {
  order: 2;
}

.search {
  display: none;
}

.user {
  display: none;
}

@media (min-width: 1440px) {
  .links {
    display: flex;
    gap: 4rem;
  }

  .link {
    position: relative;
    transition: all 300ms ease;
  }

  .link:active,
  .link:focus,
  .link:hover {
    color: var(--color-primary);
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms ease;
  }

  .link:hover::after {
    opacity: 1;
  }

  .shoppingCart,
  .user,
  .search {
    cursor: pointer;
  }

  .shoppingCart:hover,
  .user:hover,
  .search:hover {
    scale: 1.2;
    transition: all 300ms ease;
  }

  .shoppingCart {
    order: 3;
  }

  .user {
    display: initial;
    order: 2;
  }

  .search {
    display: initial;
    order: 1;
  }

  .hamburguer {
    display: none;
  }
}
